html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #111018;
}

.container {
  max-width: 300px;
  padding: 1.25rem 2.75rem;
  border-radius: 12px;
  margin: 5rem auto;
  background-color: #2e2b3a;
}

.checkbox-container,
.radio-container {
  margin: 1rem auto 2rem auto;
  font-size: 14px;
}

/* Custom inputs */
input[type="checkbox"],
input[type="radio"] {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  accent-color: #5d40df;
}

input[type="radio"] {
  border-radius: 50%;
}

/* Form styles */
.flex-container {
  display: flex;
  align-items: center;
}

.title {
  color: #dde6e6;
  margin-bottom: 0;
  letter-spacing: 1.5px;
}

label { 
  color: #dde6e6;
  margin-left: .25rem;
  cursor: pointer;
  padding-top: 4px;
}

.notification-info {
  background-color: #111018;
  padding: .5rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  color: #dde6e6;
}

.notification-info p {
  margin-left: .5rem;
  font-size: 12px;
}

.notification-info a {
  color: #5d40df
}

.save-button {
  display: block;
  width: 80%;
  margin: 4rem auto 2rem auto;
  padding: 1rem .75rem;
  border-radius: 4px;
  border: none;
  background-color: #5d40df;
  color: #dde6e6;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

/* Modal */
.modal-open {
  filter: blur(5px);
}

#saved-modal {
  position: absolute;
  top: 30%;
  max-width: 300px;
  padding: 1.25rem;
  background-color: #2e2b3a;
  border-radius: 6px;
  border: 1px solid #111018;
  z-index: 9999;
}

#saved-modal p {
  text-align: center;
  color: #dde6e6;
  font-size: 18px;
}

#saved-modal button {
  display: block;
  margin: 0 auto;
  padding: 1rem 1.75rem;
  background-color: #5d40df;
  color: #dde6e6;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
