html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('./richard-Mp2KOq8A1dk-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#app {
    margin-top: 15%;
    text-align: center;
}

#app h2 {
    font-size: 3rem;
}

#countdown {
    display: flex;
    justify-content: space-evenly;
}

.time {
    font-size: 2.5rem;
}

.text {
    font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
    #countdown {
        flex-direction: column;
    }
}